# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BDD_Demo.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gilbert\RiderProjects\BDD_Demo\.idea\.idea.BDD_Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
